---
layout: default
---
<script src="/static/emerge.js"></script>

<div class="h-100 p-4 mb-3 rounded-3 fs-5 border">
    <h2>Обо мне</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="/static/me.jpg" class="img-fluid rounded-3 emerge" data-effect="slide"/>
        </div>
        <div class="col-md-6">
            <p>
                Художник по&nbsp;свету концертных программ, разработчик  
                <a href="https://midigma.com/" target="_blank">MIDI&nbsp;to&nbsp;grandMA2</a>,
                <a href="https://timecode.su/" target="_blank">конвертера меток из REAPER в 
                таймкод</a> и других <a href="/apps">приложений и плагинов</a>,
                создатель самого большого русскоязычного <a href="https://t.me/grandmarus" target="_blank">телеграм-сообщества</a> пользователей пультов MA Lighting.
            </p>
            <p>
                Использую в работе<br>
                <img style="padding-right: 5px;" title="grandMA2" src="/static/ma.svg" alt="grandMA2" height="50px" />
                <img style="padding-right: 5px;" title="Capture SE" src="/static/capture.svg" alt="Capture" height="50px" />
                <img style="padding-right: 5px;" title="Resolume" src="/static/resolume.svg" alt="Resolume" height="50px" />
            </p>
        </div>
    </div>                    
</div>

<div class="p-4 mb-3 border rounded-3 fs-5">
    <h2>Заметки про свет</h2>
    <p>
        Пишу ответы на часто возникающие вопросы, в основном по пультам grandMA2, но бывает и просто по свету. 
        Пишу в первую очередь для себя, но если вдруг вам что-то из этого поможет - буду рад!
    </p>
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4 p-2">
            <a href="{{ post.url }}">
                <img src="{{ post.cover }}" alt="{{ post.title }}" class="img-fluid rounded-3 border post-cover-img emerge" data-effect="slide">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="text-secondary small">
        Если вдруг вы знаете, что такое RSS: можно подписаться на новые заметки по этой <a href="/feed.xml">ссылке</a>
    </div>
</div>


<div class="p-4 mb-3 border rounded-3 fs-5">
    <h2>Приложения и плагины</h2>
    <p>
        На случай, если вы не заметили кнопку наверху страницы, тут продублированы ссылки на приложения и плагины, которые я делал для специалистов в сфере шоу-индустрии. Большинство из них бесплатны,
        пользуйтесь и экономьте время при создании шоу:
    </p>
    <div class="row">
        {% for item in site.apps %}
            <div class="col-md-3">
                <a href="{{ item.url }}">
                    <img src="{{ item.icon }}" class="img-fluid">
                    <center><b>{{ item.name }}</b></center>
                </a>
                <br>{{ item.text }}
            </div>
        {% endfor %}
    </div>
</div>