---
layout: default
---
                                                                                                                                                                                                                                                                                                                                                      
<h2 class="mb-4">{{ page.title }}</h2>
<p class="sys-post-date">
	опубликовано: {{ page.date | date: "%d.%m.%Y" }}
</p>
<div class="row">
    <div class="col-md-9 mb-4 notebody">
    	{{ content }}
    	<br>
    	<hr>
    	<p class="text-secondary small">
    		посмотрите <a href="/light/">другие заметки</a> или вернитесь на <a href="/">главную</a>
    	</p>
    	<!-- <a href="https://ma-learn.ru" target="_blank">
    		<img src="/static/ma-learn.png" width="100%">
    	</a> -->
	</div>
	<div class="col-md-3 text-secondary small" style="text-align: justify;">
		для написания каждой заметки про свет я трачу много сил и времени, а потом публикую 
		весь материал на этом сайте в открытый доступ для всех желающих, поэтому, если заметка принесла вам пользу, и у вас есть финансовая возможность:<br>
		<a href="https://pay.mysbertips.ru/73192616" target="_blank">
    		<img src="/static/sber.png" width="100%">
    	</a>
	</div>
</div> 

